<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"><title>Credits</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h2>Créditos</h2>
	Autores: <%= autor %> <p>
	<img src = "/quiz_2016/public/imgs/cara1.png"> <p>
	<img src = "/quiz_2016/public/imgs/cara2.png"> <p>
</body>
</html>
